os
pooch
pandas
numpy
setuptools
folium      # Pour des cartes interactives
geopandas
matplotlib
tqdm        # Pour afficher des barres de téléchargement
warnings
mpld3       # Pour transformer les graphiques matplotlib en html
statsmodels # Pour les modèles statistiques